name: test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      name: setup node
      with:
        node-version: '16.x'

    - name: install
      run: npm ci

    - name: lint
      run: npm run lint

    - name: build
      run: npm run build

    - name: check for uncommitted changes
      # Ensure no diff when built on ci
      # ignore node_modules since dev/fresh ci deps installed.
      run: |
        git diff --exit-code --stat -- . ':!node_modules' \
        || (echo "##[error] found changed files after build. please 'npm run build'" \
                  "and check in all changes" \
            && exit 1)

    - name: archive lib when diff
      uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: ci-built-lib
        path: lib/index.js

    - name: test
      run: npm run test
