name: test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      name: setup node
      with:
        node-version: 16
        cache: npm

    - name: install
      run: npm ci

    - name: lint
      run: npm run lint

    - name: build
      run: npm run build

    - name: check for uncommitted changes
      # Ensure no diff when built on ci
      # ignore node_modules since dev/fresh ci deps installed.
      run: |
        git diff --exit-code --stat -- . ':!node_modules' \
        || (echo "##[error] found changed files after build. please 'npm run build'" \
                  "and check in all changes" \
            && exit 1)

    - name: archive lib when diff
      uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: ci-built-lib
        path: lib/index.js

    - name: test
      run: npm run test

    - uses: ./
      if: github.owner == 'asbjornu'
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        jira-user: ${{ secrets.JIRA_USER }}
        jira-token: ${{ secrets.JIRA_TOKEN }}
        jira-base-url: https://payexjira.atlassian.net
        skip-branches: '^(develop|master|main|release\/v?\d+)$'
        validate-issue-status: true
        fail-on-error: false
